<div class="row">
  <form class="col s3 white" #findUserForm="ngForm" (ngSubmit)="OnSubmit(findUserForm)">
    <div class="row">
      <div class="input-field col s10">
        <input type="text" name="name" #name ngModel>
        <label class="active">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10">
        <input type="text" name="surname" #surname ngModel>
        <label class="active">Surname</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10">
        <input type="text" name="country" #country ngModel>
        <label class="active">Country</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10">
        <input type="text" name="city" #city ngModel>
        <label class="active">City</label>
      </div>
    </div>
    <button class="btn-large">
      <i class="material-icons right">find_replace</i>Find
    </button>
  </form>
  <div class="col s9">
    <ul class="tabs">
      <li class="tab col s4"><a  href="#test1">All Users</a></li>
      <li class="tab col s4"><a href="#test2" class="active" (click)="GetFriends()">My Friends</a></li>
      <li class="tab col s4"><a href="#test3" (click)="GetRequest()">Friends Request</a></li>
    </ul>
    <div id="test1" class="col s12">
      <div class="col s12">
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <div *cdkVirtualFor="let item of CurrentUsers" class="example-item card red darken-1">
            <div class="row">
              <div class="col s2">
                <div class="container">
                  <img [src]="sanitize(setImageProfile(item.imageUrl))" style="width:75px;height:75px">
                </div>
              </div>
              <div class="col s10">
                <p class="white-text"><strong>{{item.name}} {{item.surname}}</strong>
                  Country : {{item.country}}, City : {{item.city}} </p>
                <a class="btn" (click)="SendRequset(item.id)">Add to Friends</a>
              </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
    <div id="test2" class="col s12">
        <div class="col s12">
            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
              <div *cdkVirtualFor="let friend of Friends" class="example-item card red darken-1">
                <div class="row">
                  <div class="col s2">
                    <div class="container">
                      <img [src]="sanitize(setImageProfile(friend.imageUrl))" style="width:75px;height:75px">
                    </div>
                  </div>
                  <div class="col s10">
                    <p class="white-text">{{friend.name}} {{friend.surname}}</p>
                    <a class="btn" routerLink="/messages" routerLinkActive="active">Go to dialog</a>
                  </div>
                </div>
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
    </div>
    <div id="test3" class="col s12">
      <div class="col s12">
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <div *cdkVirtualFor="let profile of RequestsProfiles" class="example-item card red darken-1">
            <div class="row">
              <div class="col s2">
                <div class="container">
                  <img [src]="sanitize(setImageProfile(profile.imageUrl))" style="width:75px;height:75px">
                </div>
              </div>
              <div class="col s10">
                <p class="white-text">{{profile.name}} {{profile.surname}}</p>
                <div *ngIf="profile.request.senderUserId != UserId; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <a class="btn" (click)="AcceptFriend(profile.request.senderUserId,profile.request.recipientUserId)">
                    Add to friends and say hi</a>
                </ng-template>
                <ng-template #elseBlock>
                  <div class="card-panel orange darken-4 col s6">
                    <span class="white-text">Request was sent
                    </span>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
</div>