<div class="card red darken-1" *ngFor="let item of items">
  <div class="row">
    <div class="col">
      <img [src]="sanitize(setImageProfile(item.ImageUrl))" class="circle" style="width:75px;height:75px">
    </div>
    <div class="col">
      <div class="containter">
          <p *ngIf ="item.LastMessage.IdSender == UserId" class="blue-text">You : </p>
          <p class="white-text">{{item.LastMessage.TextMessage}}</p>
          <p class="white-text">{{item.Name}} {{item.Surname}}</p>
      </div>
    </div>
  </div>
</div>