<nav>
  <div class="nav-wrapper">
    <a routerLink='/profile' class="brand-logo">Profile</a>
    <ul class="right hide-on-med-and-down">
        <li  *ngIf="userService.roleMatch(['admin'])">
            <a routerLink="/adminPanel">Admin Panel</a>
          </li>
      <li><a routerLink="/messages" routerLinkActive="active">Messages</a></li>
      <li><a href="/friends">Friends</a></li>
      <li><button  type="button" class="btn btn-outline-danger" (click) = "LogOut()">Log out</button></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>